numpy = 1.22.4
matplotlib = 3.5.1
seaborn = 0.11.2
cvxpy = 1.2.2
scikit-learn = 1.1.2
pandas = 1.4.2
keras = 2.9.0
tensorflow-gpu = 2.9.1
scikit-image = 0.19.2
scipy = 1.7.3
joblib = 1.1.0
tqdm = 4.64.1


